.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem;
  }

.nav li {
    margin: 0.5rem 0;
}

.toggleButton {
    background-color: #ff9b05;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.toggleButton:hover {
    background-color: #ff9b05dc;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
    }

    .toggleButton {
        display: none;
    }

    .open {
        opacity: 1;
    }
    
    .closed {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .nav {
        max-height: 0;
        position: absolute;
        left: 0;
        bottom: 0px;
    }

    .nav.expanded {
        max-height: 200px; /* Adjust based on the number of items */
    }

    .toggleButton {
        display: block;
    }

    .open {
        max-height: 500px; /* Adjust based on the content's height */
        opacity: 1;
    }
    
    .closed {
        max-height: 0;
        opacity: 0;
    }
}